/* HEADER */

header {
    padding: 30px 0px;
}

.carousel {
    box-shadow: 10px 10px 56px -10px rgba(0, 0, 0, 0.54);
}

header .container:before {
    content: "";
    background-color: #007bff;
    left: calc(50% - 23px);
    padding-top: 15%;
    position: absolute;
    top: 0;
    transform: translateX(-50%) translateY(-80%) rotate(-33deg);
    width: 150vw;
}

.carousel-section {
    position: relative;
}

.navigation {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}

.navigation .left-side {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.btn-outline-primary {
    border-color: white;
    color: white;
    font-size: 12px;
}

.btn-outline-primary:active {
    background-color: white !important;
    border-color: white !important;
}

.btn-outline-primary:hover {
    background-color: white;
    color: black;
    border: 1px solid transparent;
}

.navigation .logo {
    width: 150px;
}

.navigation .logo img {
    width: 100%;
}

nav ul {
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin: 0px !important;
    padding: 0px !important;
}

nav ul li {
    list-style: none;
    margin: 0px !important;
    padding: 0px !important;
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin: 0px !important;
    padding: 0px !important;
    font-weight: 600;
    font-size: 16px;
    position: relative;
}

nav ul li a:hover::after {
    width: 50%;
}


nav ul li a::after {
    content: "";
    position: absolute;
    bottom: -10px;
    transform: rotate(-2deg);
    display: block;
    height: 3px;
    width: 0%;
    background-color: #007bff;
    transition: 0.2s;
}

nav ul li a.active::after {
    width: 50%;
}

.btnBasket {
    background-color: transparent;
    outline: none;
    border: 1px solid transparent;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.basketQuantity {
    font-weight: 600;
    font-size: 13px;
}

.right-side {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.btnOrderEvent {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s;
    font-weight: 500;
}

.btnOrderEvent:hover {
    background-color: white;
    color: black;
}

.carousel-control-prev {
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-next {
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.ticket-form {
    padding: 20px;
    width: 30%;
    margin: 0px auto;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
}

.ticket-form form {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
}

.eventinfo-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.fill-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}


.eventinfo-heading {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}

.eventinfo-heading:hover {
    color: #007bff;
}

.eventinfo-body {
    width: 100%;
}

.event-thumbnail {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 5px;
}

.event-thumbnail:hover img {
    transform: scale(1.1);
}

.event-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.eventi-header {
    font-size: 13px;
    font-weight: 500;
}

.eventi-title {
    font-size: 13px;
    font-weight: 500;
    color: #ccc;
    cursor: pointer;
    transition: 0.3s;
}

.eventi-title:hover {
    color: #007bff;
}

.submit-area {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.submit-area .up-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submit-area .up-side input {
    width: 65%;
}

.ticket-price-amount {
    width: 30%;
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    font-weight: 500;
}

.bottom-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.eventinfo-body {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
    align-items: center;
    margin-top: 10px;
}

#ticket-price-amount {
    width: 30%;
    font-weight: 500;
}

.eventinfo-body .info-box {
    font-size: 14px;
    width: 100%;
    cursor: pointer;
}

.bottom-side .btn {
    background-color: #007bff;
    border: 1px solid transparent;
    width: 100%;
}

.bottom-side .btn:hover {
    background-color: transparent;
    border: 1px solid #007bff;
    color: #007bff;
}

/* HEADER */

/* SECTIONS */

.modal-title {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.modal-title i {
    font-size: 16px;
    color: #007bff;
}

.section {
    padding: 20px 0px;
}

.section h1 {
    font-size: 20px;
    font-weight: 600;
}

.section-body {
    padding: 20px;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 10px;
    background-color: white;
}

.section-heading {
    margin-bottom: 20px;
}

.event-row {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0px;
}

.event-row .event-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(231, 231, 231);
}

.event-row .event-list .thumbnail {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 5px;
}

.event-row .event-list .thumbnail:hover img {
    transform: scale(1.1);
}

.event-row .event-list .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease;
}

.event-row .event-list .middle {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 50%;
}

.event-row .event-list .middle p {
    font-size: 12px;
}

.event-row .event-list .middle h3 {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.event-row .event-list .middle h3:hover {
    color: #007bff;
}

.event-info {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 14px;
    cursor: pointer;
}

.info-box {
    display: flex;
    align-items: center;
    column-gap: 10px;
    border: 1px solid rgb(231, 231, 231);
    padding: 4px 8px;
    border-radius: 5px;
    color: rgb(199, 199, 199);
    transition: 0.3s;
}

.info-box:hover {
    background-color: #007bff;
    color: white;
    border: 1px solid transparent;
}

.btnBuy {
    padding: 8px 20px;
    background-color: #007bff;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}

.btnBuy:hover {
    background-color: transparent;
    border: 1px solid #007bff;
    color: #007bff;
}

.col-divider {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-right: 1px solid #ccc;
    height: 100%;
}

.col-divider:last-child {
    border-right: none;
}

.col-last {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.col-header {
    font-size: 18px;
    font-weight: 600;
}

.col-title {
    font-size: 18px;
    color: #646464;
}

.event-body {
    display: flex;
    align-items: start;
    column-gap: 20px;
    margin-top: 50px;
}

.event-body .left-side {
    width: 100%;
}

.event-body .right-side {
    position: relative;
}

.buttons-area {
    position: absolute;
    display: flex;
    align-items: center;
    column-gap: 10px;
    top: 20px;
    left: 20px;
}

.btnBuyTicket {
    padding: 8px 16px;
    background-color: #007bff;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.btnShare {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.btnShare:hover {
    background-color: white;
    color: black;
}

.event-body .right-side .event-cover {
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-radius: 5px;
}

.event-body .right-side .event-cover:hover img {
    transform: scale(1.1);
}


.event-body .right-side .event-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.accordion-button {
    font-weight: bold;
    outline: none;
    box-shadow: none !important;
}

.accordion-button:focus {
    background-color: #007bff;
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: #007bff;
    color: white;
}

.event-location-map {
    padding: 10px;
}

.google-map {
    overflow: hidden;
    border-radius: 10px;
    height: 300px;
}

.google-map iframe {
    width: 100%;
    height: 100%;
}


.location-body {
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
}

.location-body .left-side {
    width: 80%;
}

.location-body .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #e2e2e2;
    background-color: white;
}

.location-body .right-side .place-info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.place-name {
    font-weight: bold;
    font-size: 24px;
}

.place-direction {
    font-size: 18px;
    color: #646464;
    font-weight: 500;
}

.callto {
    font-size: 18px;
    font-weight: 500;
}

.btnDirection {
    padding: 12px 16px;
    border-radius: 50px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
}



/* SECTIONS */

/* FOOTER */

footer {
    border-top: 1px solid rgb(231, 231, 231);
    padding: 20px 0px;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

footer .container .footer-logo {
    width: 150px;
}

footer .container .footer-logo img {
    width: 100%;
}

footer .container .middle {
    display: flex;
    flex-direction: column;
}

footer .container .middle h2 {
    font-size: 20px;
    font-weight: 600;
}

footer .container .middle .footer-nav ul {
    margin: 0px !important;
    padding: 0px !important;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

footer .container .middle .footer-nav ul li {
    text-decoration: none !important;
    list-style: none;
    font-size: 14px;
}

footer .container .middle .footer-nav ul li a {
    text-decoration: none;
    color: #646464;
    transition: 0.3s;
}

footer .container .middle .footer-nav ul li a:hover {
    color: #007bff;
}

footer .container .right-side {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
    width: 30%;
}

footer .container .right-side h2 {
    font-size: 20px;
    font-weight: 600;
}

footer .container .right-side p {
    font-size: 14px;
    color: #646464;
}

footer .container .right-side .cards {
    width: 200px;
}

footer .container .right-side .cards img {
    width: 100%;
}


/* FOOTER */


/* MODAL */

.modal-logo {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}

.modal-logo img {
    width: 100%;
}

#contactModal .modal-body {
    display: flex;
}

#contactModal .col {
    display: flex;
    flex-direction: column;
}

.col-heading {
    color: #6b7280;
    font-size: 15px;
}

.col-title {
    font-size: 15px;
    color: black;
    font-weight: 400;
    margin-top: 10px;
}

#aboutModal p {
    font-size: 15px;
}

#multimediaModal .modal-dialog {
    max-width: 700px;
}

#multimediaModal p {
    font-size: 15px;
    font-style: italic;
}

.multimedia-ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0px !important;
}

.multimedia-ul li {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

.multimedia-ul li .left-side {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.multimedia-ul li .left-side .multimedia-thumbnail {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 10px;
}

.multimedia-ul li .left-side .multimedia-thumbnail:hover img {
    transform: scale(1.1);
}

.multimediaBtn {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    border: 1px solid transparent;
}

.btnDrive {
    background: rgb(77, 164, 98);
    background: linear-gradient(90deg, rgba(77, 164, 98, 1) 0%, rgba(79, 164, 77, 1) 100%);
    color: white;
}

.btnYoutube {
    background: red;
    color: white;
}

.btnYoutube:hover {
    background: transparent;
    color: red;
    border: 1px solid red;
}

.btnDrive:hover {
    border: 1px solid rgb(77, 164, 98);
    background: transparent;
    color: rgb(77, 164, 98);
}

.multimedia-ul li .left-side .multimedia-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.multimedia-ul li .right-side {
    display: flex;
    column-gap: 5px;
}

.multimedia-info {
    width: 60%;
}

.multimedia-info h6 {
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.multimedia-info h6:hover {
    color: #007bff;
}

.multimedia-title {
    font-size: 14px;
    color: #ccc;
}

/* MODAL */

/* MOBILE SIDE */

.navbar-mobile {
    background-color: white !important;
    box-shadow: 10px 10px 56px -10px rgba(0, 0, 0, 0.54);
}

.navbar-logo {
    width: 100px;
}

.navbar-logo img {
    width: 100%;
}

.navbar-toggler {
    outline: none !important;
    font-size: 14px;
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.mobile-carousel {
    border-radius: 0px !important;
}

.mobile-footer-logo {
    width: 100px;
}

.mobile-footer-logo img {
    width: 100%;
}

#mobile-footer .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    column-gap: 10px;
}

.m-footer-heading {
    font-size: 14px;
    font-weight: 600;
}

.m-left-side ul  {
    padding: 0px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.m-left-side ul li {
    list-style: none;
}

.m-left-side ul li a {
    color: #646464;
    font-size: 13px;
}

.m-left-side {
    width: 50% !important;
}

.m-right-side {
    width: 60%;
}

.m-right-side p {
    font-size: 13px;
}

#footer-mobile {
    font-size: 13px;
}

.m-social-links {
    display: flex;
    column-gap: 5px;
    justify-content: right;
}

.m-section {
    padding: 20px 0px;
}

.m-all-events .container-fluid h1 {
    font-size: 18px !important;
    font-weight: 600;
}

.m-events-row ul {
    padding: 0px;
    margin: 0px;
    display: flex !important;
    flex-direction: column !important;
    row-gap: 10px !important;
}

.m-events-row li {
    list-style: none !important;
    width: 100%;
}

.event-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 200px;
}

.event-card .event-card-thumbnail {
    width: 100%;
    height: 100%;
}

.event-card .event-card-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-card-info {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.event-card-info .event-date {
    color: white;
    font-size: 10px;
}

.event-card-info .event-price {
    padding: 4px 12px;
    background-color: #007bff;
    color: white;
    font-size: 12px;
    border-radius: 50px;
}

.mobile-header .navbar ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 10px;
    padding: 10px 0px;
    border-top: 1px solid #ccc;
}

.mobile-header .navbar ul li {
    margin-top: 10px !important;
}

.mobile-header .navbar ul li a {
    color: black;
    font-size: 13px;
    font-weight: 500;
}

.m-order a {
    color: #007bff !important;
    font-weight: 600 !important;
}

.mobile-header .btn-outline-primary {
    border-color: #ccc;
    color: #ccc;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 3px;
}

.m-social-links {
    display: flex;
    justify-content: center;
}

.m-all-events .m-events-row {
    padding: 0px !important;
}

.m-event-item {
    position: relative;
    width: 100%;
    height: 200px;
}

.m-event-thumbnail {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.m-event-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.m-event-info {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 10px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.m-event-info-title {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: 8px;
    color: white;
    font-weight: 500;
}

.btnMBuyTicket {
    position: absolute;
    padding: 4px 8px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: 1px solid transparent;
    font-size: 12px;
    bottom: 10px;
    right: 10px;
}

.m-events-row {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.m-all-events h2 {
    font-size: 18px;
    font-weight: 600;
}

/* MOBILE SIDE */